// 字体图标 
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* js最大控制540px，强制修改成640px, */
@media screen and (min-width:640px) {
    html {
        font-size: 64px !important;
    }
}

/* 适配768 */
@media screen and (min-width:768px) {
    html {
        font-size: 76.8px !important;
    }
}

/* 适配1024 */
@media screen and (min-width:1024px) {
    html {
        font-size: 102.4px !important;
    }
}