@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

ul {
  position: fixed;
  top: 500px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  list-style-type: none;
}

body {
  background-color: #fff;
}

.list-1 {
  display: block;
  width: 35px;
  height: 35px;
  background: #eee url(../img/spirte.png) no-repeat -9px -11px;
}

.list-1:hover::before {
  display: block;
}

.list-1::before {
  display: none;
  content: "图书";
  width: 80px;
  height: 35px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #93d46f url(../img/spirte.png) no-repeat -49px -11px;
}

.list-2 {
  display: block;
  width: 35px;
  height: 35px;
  background: #eee url(../img/spirte.png) no-repeat -9px -91px;
}

.list-2:hover::before {
  display: block;
}

.list-2::before {
  display: none;
  content: "图书";
  width: 80px;
  height: 35px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #93d46f url(../img/spirte.png) no-repeat -49px -91px;
}

.list-3 {
  display: block;
  width: 35px;
  height: 35px;
  background: #eee url(../img/spirte.png) no-repeat -9px -251px;
}

.list-3:hover::before {
  display: block;
}

.list-3::before {
  display: none;
  content: "图书";
  width: 80px;
  height: 35px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #93d46f url(../img/spirte.png) no-repeat -49px -251px;
}

.list-4 {
  display: block;
  width: 35px;
  height: 35px;
  background: #eee url(../img/spirte.png) no-repeat -9px -533px;
}

.list-4:hover::before {
  display: block;
}

.list-4::before {
  display: none;
  content: "图书";
  width: 80px;
  height: 35px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #93d46f url(../img/spirte.png) no-repeat -49px -533px;
}

.list-5 {
  display: block;
  width: 35px;
  height: 35px;
  background: #eee url(../img/spirte.png) no-repeat -9px -573px;
}

.list-5:hover::before {
  display: block;
}

.list-5::before {
  display: none;
  content: "图书";
  width: 80px;
  height: 35px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #93d46f url(../img/spirte.png) no-repeat -49px -573px;
}
