.top-nav {
    background-color: #333333;
    height: 40px;
    line-height: 40px;
}

.top-nav a {
    color: #b0b0b0;
}

.top-nav span {
    color: #40403b;
    padding: 0 6px;
}


/* 顶部信息栏 */


.top-info {
    height: 100px;
    line-height: 100px;
    /* 辅助代码 */
    /* border: 1px solid; */
}

.top-info img,
.top-info a {
    float: left;
}

.top-info img:first-child {
    width: 55px;
    height: 55px;
    margin-top: 22.5px;
}

.top-info img:nth-child(2) {
    width: 127px;
    height: 55px;
    margin-top: 22.5px;
    margin-left: 45px;
}

.top-info a {
    font-size: 16px;
    font-weight: 700;
    margin: 0 13px;
}

.top-info .first-a {
    margin-left: 34px;
}

/* 主要信息板块 */
.list-menu {
    float: left;
    /* background-color: rgba(0, 0, 0, .5); */
    background-color: #2c505f;
    width: 235px;
    height: 460px;
}

.list-menu a {
    display: block;
    font-size: 14px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 24px;
    padding-top: 15px;
    padding-bottom: 13px;
}

.list-menu a span {
    float: right;
}

.list-menu .list-menu-one-a {
    padding-top: 30px;
}

.main-big-img {
    float: right;
}

.main-big-img img {
    display: block;
    width: calc(1226px - 235px);
}

/* 图片展示区 */
.picture-show {
    margin-top: 14px;
    height: calc(250px - 14px);
}

.picture-show a img {
    float: left;
}

.picture-show a:first-child img {
    width: 234px;
    height: 170px;
    margin-left: 0;
}

.picture-show a:nth-child(2) img {
    margin-left: 14px;
}

.picture-show a img {
    width: 316px;
    height: 170px;
    margin-left: 15px;
}

/* 智能硬件 */
.hardware {
    background-color: #f5f5f5;
    height: 800px;
}

.hardware-top h2 {
    float: left;
    font-weight: 400;
    color: #333333;
}

.hardware-top a {
    float: right;
    color: #424242;

}

.hardware-top h2,
.hardware-top a {
    font-size: 16px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.hardware-bottom-left {
    float: left;
}

.hardware-bottom-right {
    position: relative;
    float: left;
    width: 234px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    margin-left: 14px;
    margin-bottom: 14px;
}

.hardware-bottom-right img {
    display: block;
    width: 160px;
    margin: 0 auto;
    margin-top: 20px;
}

.hardware-bottom-right p {
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}

.hardware-bottom-right span {
    display: block;
    font-size: 14px;
    color: #b0b0b0;
    margin: 10px 0 18px 0;
}

.hardware-bottom-right em {
    font-size: 12px;
    color: #ff6700;
}

.hardware-bottom-right del {
    font-size: 12px;
    text-decoration: line-through;
    color: #c0c0c0;
    margin-left: 3px;
}

.hardware-bottom-right b {
    position: absolute;
    top: 0;
    left: calc(234px / 2 - 32px);
    width: 64px;
    height: 20px;
    font-size: 10px;
    color: #ffffff;
    background-color: #ffac13;
    box-sizing: border-box;
    /* padding: 10px 14px; */
    text-align: center;
    line-height: 20px;
}

.hardware-bottom-right .hardware-bottom-right-7 {
    position: absolute;
    top: 0;
    left: calc(234px / 2 - 32px);
    width: 64px;
    height: 20px;
    font-size: 10px;
    color: #ffffff;
    background-color: #e53935;
    box-sizing: border-box;
    /* padding: 10px 14px; */
    text-align: center;
    line-height: 20px;
}



/* 帮助中心 */
.help {
    margin-top: 60px;
}

.help-left dl {
    float: left;
}

.help-left dl a {
    display: block;
}

.help-left dt {
    font-size: 12px;
    color: #424242;
    margin-bottom: 30px;
    margin-right: 100px;
}

.help-left dl a {
    font-size: 10px;
    color: #757575;
}

.help-left dl dd:nth-child(3) a {
    margin: 16px 0 16px 0;
}


.help-right {
    float: left;
    height: 112px;
    text-align: center;
    border-left: 1px solid #ececec;
    margin-left: 102px;
}

.help-content {
    margin-left: 60px;
}

.help-right h2 {
    font-size: 16px;
    color: #ff6700;
    text-align: left;
    margin-top: 2px;
}

.help-right p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.help-right p,
.help-right span {
    font-size: 10px;
    color: #616161;
}

.help-right span {
    text-align: center;
}

/* 版权信息 */
.copr {
    background-color: #fafafa;
    margin-top: 30px;

}

.copr img {
    float: left;
    width: 55px;
    margin-top: 30px;
}

.copr-web {
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

.copr-web a {
    float: left;
    font-size: 10px;
    color: #757575;
}

.copr-web span {
    float: left;
    color: #b0c3d7;
    margin: 0 4px;
}

.copr-record {
    float: left;
    margin-left: 10px;
    color: #b0b0b0;
    font-size: 10px;
}

.copr-record a {
    color: #b0b0b0;
    font-size: 10px;
}

/* 小米 */
.mi {
    background-color: #fafafa;
    text-align: center;
    padding-bottom: 20px;
}

.mi h2 {
    font-size: 18px;
    color: #bebebe;
    padding-top: 20px;
}