/* 顶部通栏 */
body {
    height: 10000px;
}

.top-nav {
    background-color: #fafafa;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;

}

/* 顶部左边  */
.top-nav-left {
    float: left;
    height: 34px;
    box-sizing: border-box;
}

.top-nav-left h3 {
    float: left;
    margin-left: 15px;
    margin-right: 8px;
}

.top-nav-left a,
.top-nav-left i {
    float: left;
}

.top-nav-left i {
    margin: 0 10px 0 10px;
}

/* 顶部右边 */
/* .top-nav-right ====== ul */
.top-nav-right {
    float: right;
    height: 34px;
}

.top-nav-right li,
.top-nav-right a,
.top-nav-right span {
    float: left;
}

.top-nav-right li:nth-child(-n+3) i {
    padding: 0 8px;
}

.top-nav-right li:nth-child(-n+7) i {
    vertical-align: top;
}

.top-nav-right span {
    margin: 0 10px 0 10px;
}


/* 我太难了 */
.top-nav-left h3,
.top-nav-left a,
.top-nav-left i,
.top-nav-right li,
.top-nav-right a,
.top-nav-right i,
.top-nav-right span {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #717171;
}