/* body {
    height: 50000px;
} */

.topnav {
    height: 40px;
    background-color: #333;
}


.topnav-left {
    float: left;
    height: 40px;
}

.topnav-left a {
    color: #b0b0b0;
    line-height: 40px;
}

.topnav-left span {
    margin: 0 3px;
    color: rgb(66, 66, 66);
    ;
}

.topnav-right {
    float: right;
    height: 40px;
}

.topnav-right a {
    color: #b0b0b0;
    line-height: 40px;
}

.topnav-right span {
    margin: 0 7px;
    color: rgb(66, 66, 66);
}

/* 购物车 */
.topnav-right .shopping-cart {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 120px;
    height: 40px;
    background-color: #424242;
}

.topnav a:hover {
    color: #ffffff;
}

.topnav-right .shopping-cart:hover {
    background-color: #ffffff;
}

.topnav-right .shopping-cart:hover a {
    color: #ff6700;
    background-color: #ffffff;
}


/* 顶部通栏结束 */

/* 中部导航栏开始 */
.searhnav {
    height: 100px;
    /* border: 1px solid red; */
}

.searchnav-logo {
    float: left;
    width: 55px;
    height: 55px;
    margin-top: 22px;
    margin-right: 180px;
    background-color: #ff6700;
}

.searchnav-logo img {
    float: left;
    width: 100%;
    height: 100%;
}

.searchnav-nav {
    float: left;
    line-height: 100px;
}

.searchnav-nav a {
    float: left;
    margin: 0 10px;
    font-size: 16px;
}

.searchnav-nav a:hover {
    color: #ff6700;
}

/*  右边搜索栏*/


.searchnav-search {
    position: relative;
    float: right;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    margin-top: 25px;
    border: 1px solid #e0e0e0;

}

.searchnav-search input {
    float: left;
    box-sizing: border-box;
    padding: 5px 8px;
    width: 248px;
    height: 48px;
    border: none;
    border-right: 1px solid#e0e0e0;
}

.searchnav-search button {
    float: right;
    border: none;
    width: 50px;
    height: 48px;
    background-color: #fff;
}

.sell-well {
    position: absolute;
    top: 18px;
    right: 50px;
    margin-right: 10px;
}

.sell-well a {
    box-sizing: border-box;
    padding: 2px 5px;
    background-color: #eeeeee;
}


/*  轮播图 */
.carousel {
    height: 460px;
}

.carousel-list {
    height: 460px;
}

.carousel-list a {
    display: block;
    width: 100%;
    height: 100%;
}

/* 左侧信息栏 */
.carousel-aside {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 234px;
    height: 460px;
    background-color: rgba(154, 153, 153, 0.1);
    padding: 20px 0;

}

.carousel-aside a {
    display: block;
    padding-left: 28px;
    padding-right: 24px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

.carousel-aside span {
    float: right;
}

.carousel-aside a:hover {
    background-color: #ff6700;
}

/* 左右按钮 */
.carousel-left {
    display: block;
    position: absolute;
    top: 195px;
    left: 234px;
    width: 40px;
    height: 70px;
    color: #ccc;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
}

.carousel-right {
    display: block;
    position: absolute;
    top: 195px;
    right: 0;
    width: 40px;
    height: 70px;
    color: #ccc;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
}

/* 右下角轮播导航 */
.radius {
    height: 10px;
    position: absolute;
    bottom: 24px;
    right: 30px;
}

.radius span {
    display: inline-block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #b0b0b4;
    border-radius: 50%;
}

.radius span:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #fff;
}

.discont {
    /* background-color: pink; */
    margin: 14px 0;
}

/* 优惠板块左边服务模块 */
.discount-server {
    float: left;
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    text-align: center;
}

.discount-server a {
    position: relative;
    float: left;
    width: 78px;
    height: 85px;
    color: #cfccca;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding-top: 22px;
    opacity: 0.8;
}

.discount-server a:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 9px;
    width: 64px;
    height: 1px;
    background-color: #665e57;
}

.discount-server a::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 3px;
    width: 1px;
    height: 64px;
    background-color: #665e57;
}

.discount-server a:hover {
    opacity: 1;
}

.discount-server img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

.discount-server span {
    display: block;
    margin-top: 8px;
}

/* 优惠板块左边服务模块完成啦 */

/* 右边大图模块 */
.discount-server-img {
    float: left;
}

.discount-server-img a {
    display: block;
    float: left;
    margin-left: 15px;

}

.discount-server-img a:first-child {
    margin-left: 14px;
}

.discount-server-img img {
    display: block;
    width: 316px;
    height: 170px;
}


/* 灰色卖手机的部分 */
.sell-mobile-phone {
    background-color: #f5f5f5;
}

/* 小米闪购 */

.flash-top {
    height: 62px;
}

/* 闪购左边标题 */
.flash-title {
    float: left;
}

.flash-title h2 {
    font-size: 24px;
    font-weight: initial;
    line-height: 62px;
}

/* 闪购右边按钮 */
.flash-title-button {
    float: right;
    box-sizing: border-box;
    width: 70px;
    height: 26px;
    margin-top: 24px;
    border: 1px solid #e0e0e0;
}

.flash-title-button button {
    float: left;
    border: none;
    width: 34px;
    height: 24px;
    background-color: #f5f5f5;
}

.flash-title-button button:hover span {
    color: #fe7900;
}

.flash-title-button button:first-child {
    border-right: 1px solid #e0e0e0;
}


/* 小米闪购下 */
.flash-bottom {}

/* 左边的闪电盒子 */
.flash-content-seckill {
    float: left;
    width: 234px;
    height: 340px;
    text-align: center;
    box-sizing: border-box;
    background-color: #f1eded;
    border-top: 1px solid #e53934;
}

.flash-content-seckill h2,
.flash-content-seckill h2 b {
    font-size: 21px;
    color: #ef3a3b;
    margin-top: 60px;
    margin-bottom: 30px;
}

.flash-content-seckill p {
    margin-top: 35px;
    margin-bottom: 33px;
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
}

.flash-content-seckill span {
    display: inline-block;
    width: 46px;
    height: 46px;
    color: #ffffff;
    font-size: 24px;
    line-height: 46px;
    background-color: #605751;
}

.flash-content-seckill i {
    display: inline-block;
    width: 15px;
    height: 46px;
    line-height: 46px;
    font-size: 28px;
}



/* 右边的手机滚动条 */
.flash-content-show {
    float: left;
    text-align: center;
}

.flash-content-show ul {
    float: left;
}

.flash-content-show ul li {
    float: left;
    width: 234px;
    height: 340px;
    background-color: #ffffff;
    margin-left: 14px;
}

.flash-content-show-content {
    margin-top: 40px;
}

.flash-content-show ul img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.flash-content-show-content h3 {
    margin: 30px 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.desc {
    font-size: 12px;
    color: #b0b0b0;
}

.price {
    margin-top: 12px;
    color: #ff6700;
}

.price del {
    text-decoration: line-through;
    color: #b2b2b2;
    margin-left: 5px;
}

/* 广告模块 */
.ad {
    margin: 22px 0;
    width: 1226px;
    height: 120px;
}

.ad img {
    display: block;
    width: 1226px;
    height: 120px;
}


/* 通用上部分模块 */
.common-top {
    height: 58px;
    line-height: 58px;
    /* background-color: pink; */
}

/* 通用下部分模块 */
.common-bottom {
    height: 614px;
    /* background-color: hotpink; */
}

/* <!-- 手机模块 --> */

.phone-top-left {
    float: left;
}

.phone-top-left h2 {
    font-size: 22px;
    font-weight: 200;
    color: #333;
}

.phone-top-right {
    float: right;
}


.phone-top-right a {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    transition: all .4s;
}

.phone-top-right a span {
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #b0b0b0;
    border-radius: 50%;
    font-size: 22px;
    vertical-align: top;
    margin-left: 8px;
    transition: all .4s;

    /* .phone-top-right a span::before {
    content: "";&#xe65e;
    border-radius: 100%;
    */
}

.phone-top-right a:hover {
    color: #ff6700;

}

.phone-top-right a:hover span {
    background-color: #ff6700;
}

/* <!-- 手机下部分 -->*/
/* 左边的大图 */
.phone-bottom-left {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    transition: all .4s;
}

.phone-bottom-left:hover {
    top: -3;
    left: 0;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

.phone-bottom-left a {
    display: block;

}


.phone-bottom-left a img {
    display: block;
    width: 234px;
    height: 614px;
}




/* 右边的手机展示 */
.phone-bottom-right {
    position: relative;
    float: left;
    width: calc(1226px - 234px);
    height: 614px;
    background-color: #f5f5f5;
}



.phone-bottom-right li {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 234px;
    height: 300px;
    background-color: #fff;
    margin-left: 14px;
    margin-bottom: 14px;
    transition: all .4s;
}

.phone-bottom-right li:hover {
    top: -3;
    left: 0;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

/* 通用信息展示设置 */
.common-content {
    margin-top: 40px;
    /* border: 1px solid red; */
    text-align: center;

}

.common-content img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.common-content h3 {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.common-desc {
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 10px;
    margin-bottom: 18px;
}

.common-price {
    color: #ff6700;
}

/* 删除线 */
.common-price del {
    text-decoration: line-through;
    color: #b0b0b0;
    margin-left: 0.5em;
}

/*  */
/* 家电 */
.household-top-left {
    float: left;
}

.household-top-left h2 {
    font-size: 22px;
    font-weight: 200;
    color: #333;
}

.household-top-right {
    float: right;
}

.household-top-right li {
    float: left;
    margin-left: 30px;
}

.household-top-right a {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    transition: all .4s;
    box-sizing: border-box;
    padding-bottom: 3px;
}

.household-top-right a:hover {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}


/* 家电下部分 */
.household-bottom-left {
    float: left;
}

.household-bottom-left-top {
    margin-bottom: 14px;
}

.household-bottom-left a,
.household-bottom-left img {
    display: block;
    width: 234px;
    height: 300px;
}

.household-bottom-left img {
    position: relative;
    top: 0;
    left: 0;
    transition: all .4s;
}

.household-bottom-left img:hover {
    top: -3;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

.common-content-last div:first-child {
    position: relative;
    top: 0;
    width: 234px;
    height: 143px;
    background-color: #ffffff;
    margin-bottom: 14px;
    transition: all .4s;
}

.common-content-last div:first-child:hover {
    top: -3;
    left: 0;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

.common-content-last div:last-child {
    position: relative;
    top: 0;
    width: 234px;
    height: 143px;
    background-color: #ffffff;
    transition: all .4s;
}

.common-content-last div:last-child:hover {
    top: -3;
    left: 0;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

.common-content-last div:first-child h3 {
    padding-top: 44px;
    padding-left: 30px;
    width: 94px;
    font-weight: inherit;
    font-size: 14px;
}

.common-content-last div:first-child p {
    padding-left: 30px;
    font-size: 14px;
    color: #ff6700;
}

.common-content-last div:first-child p span {
    font-size: 12px;
}

.common-content-last div:first-child img {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;

}

.common-content-last div:last-child {
    position: relative;
}

.common-content-last div:last-child h3 {
    padding-top: 50px;
    padding-left: 30px;
    font-size: 18px;
    /* box-sizing: border-box; */
}

.common-content-last div:last-child p {
    padding-left: 30px;
    font-size: 12px;
    color: #757575;
}

.common-content-last div:last-child i {
    position: absolute;
    right: 35px;
    top: 48px;
    font-size: 48px;
    line-height: 48px;
    color: #ff6700;
}

/* 右边家电展示 */
.household-bottom-right {
    position: relative;
    float: left;
    width: calc(1226px - 234px);
    height: 614px;
    background-color: #f5f5f5;
}

.household-bottom-right li {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 234px;
    height: 300px;
    background-color: #fff;
    margin-left: 14px;
    margin-bottom: 14px;
    transition: all .4s;
}

.household-bottom-right li:last-child {
    background-color: #f5f5f5;
}

.household-bottom-right li:nth-child(-n+7):hover {
    top: -3;
    left: 0;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}



/*  视频下部分*/
.video-bottom {
    height: 300px;
}

.video ul,
.video li {
    float: left;
}

.video li {
    position: relative;
    top: 0;
    left: 0;
    width: 296px;
    height: 285px;
    background-color: #ffffff;
    transition: all 0.4s;
}

.video li:hover {
    top: -2px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

.video li:hover div {
    background-color: #ff6700;
    border: 2px solid #ff6700;
}

.video li:nth-last-child(-n+3) {
    margin-left: 14px;
}

.video li p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 30px;
}

.video li div {
    position: absolute;
    top: 135px;
    left: 20px;
    color: #fff;
    width: 36px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 12px;
    text-align: center;
    box-sizing: border-box;
}

.video div span {
    font-size: 30px;
    line-height: 20px;
    box-sizing: border-box;
}

.video a,
.video img {
    display: block;
    width: 296px;
    height: 180px;
}


/* 售后信息板块 */
.customer-service-top {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
}


.customer-service-top li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.customer-service-top li a:hover {
    color: #ff6700;
}

.customer-service-top li:first-child {
    border-left: none;
}

.customer-service-top li span {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}



/* 帮助中心 */
.customer-service-bottom dl {
    float: left;
    margin-right: 104px;
}

.customer-service-bottom dt {

    font-size: 14px;
    color: #424242;
    margin-top: 41px;
    margin-bottom: 26px;
}

.customer-service-bottom dd {

    margin-top: 16px;
}

.customer-service-bottom dd a {
    color: #757575;
}

.customer-service-bottom dd a:hover {
    color: #ff6700;
}

.customer-service-phone {
    float: left;
    margin-top: 41px;
    padding-left: 56px;
    box-sizing: border-box;
    border-left: 1px solid #e0e0e0;
}

.c-s-phone {
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.c-s-day {
    margin: 0 0 16px;
    font-size: 12px;
    color: #616161;
}

.c-s-man {
    display: block;
    border: 1px solid #ff6700;
    border-color: #ff6700;
    background: #fff;
    /* text-align: center; */
    padding: 8px 28px;
    color: #ff6700;
    transition: all 0.4s;
}

.c-s-man a {
    color: #ff6700;
    transition: all 0.4s;
}

.c-s-man:hover,
.c-s-man:hover a {
    background-color: #ff6700;
    color: #fff;
}

/* 版权信息 */
.copr {
    margin-top: 30px;
    background-color: #fafafa;
    height: 150px;
}

.copr-logo {
    float: left;
    margin-right: 5px;
    margin-top: 30px;
    height: 80px;

}

.copr-top {
    margin-top: 30px;
}

.copr-top a,
.copr-top {
    font-size: 12px;
    color: #757575;
}

.copr-top a:hover,
.copr-mid a:hover {
    color: #ff6700;
}

.copr a:first-child {
    margin-left: 5px;
}


.copr-mid,
.copr-mid a {
    font-size: 12px;
    color: #b0b0b0;
}

.copr img {
    float: left;
    width: 56px;
    height: 57px;
}



.copr-mid span {
    margin-left: 5px;
}

.copr-bottom img {
    display: block;
    width: 85px;
    height: 28px;
}


.xiao-mi {
    text-align: center;
    background-color: #fafafa;
}