* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    /* margin: 0 auto; */
    background-color: #eeeeee;
    /* 去除蓝色块 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

@mixin clearfix {

    &::before,
    &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }

}

header {
    /* position: absolute; */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #c91927;
}

.left-logo {
    position: absolute;
    top: 7px;
    left: 6px;
    width: 56px;
    height: 21px;
    background: url(../images/jd-sprites.png) 0 -109px;
    background-size: 200px auto;
}

.box {
    width: 100%;
    height: 100%;
    padding-left: 75px;
    padding-right: 45px;
    box-sizing: border-box;
}

.center {
    width: 100%;
    height: 30px;
    padding: 8px 0 8px 30px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
}

.button {
    position: absolute;
    top: 10px;
    right: 6px;
    width: 30px;
    font-size: 15px;
    color: #fff;
}

.search-icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 85px;
    width: 20px;
    height: 20px;
    background-position: -60px -109px;
    background-image: url(../images/jd-sprites.png);
    background-size: 200px auto;
}

.toolbar {
    width: 100%;
    height: 44px;
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    z-index: 15;
}

.toolbar ul {
    height: 100%;
}

.toolbar li {
    width: 20%;
    height: 100%;
    float: left;
}

.toolbar li img {
    width: auto;
    height: 44px;
    margin: 0 auto;
}

main {
    width: 100%;
    // height: 10000px;
    padding-bottom: 50px;
}

.view {
    width: 100%;
    overflow: hidden;

    ul {
        width: 1000%;
    }

    li {
        float: left;
        width: 10%;
    }

    a {
        display: block;
        width: 100%;
    }

    img {
        width: 100%;
    }
}

/* 导航 */
.navs {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    background: #fff;


    ul {
        width: 100%;
        @include clearfix();
    }

    li {
        float: left;
        width: 25%;

        &:nth-last-child(-n+4) {
            margin-top: 10px;
        }
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 12px;
    }

    img {
        width: 40px;
        height: 40px;
    }

    p {
        margin: 5px 0;
    }

}


/* 秒杀 */
.seckill {
    width: 100%;
    background-color: #fff;
    font-size: 12px;

    .seckill-title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding-left: 5px;

        h3 {
            position: relative;
            float: left;
            font-size: 16px;
            color: #c91523;
            padding-left: 20px;
            font-weight: normal;
            margin-right: 10px;

            &::before {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 18px;
                height: 24px;
                background: url(../images/jd-sprites.png) -84px -109px;
                background-size: 200px auto;
            }
        }

        .seckill-time {
            float: left;
            // font-size: 12px;

            span {

                &:nth-child(2n+1) {
                    color: #fff;
                    background-color: #000918;
                    padding: 0 2px;
                }
            }
        }

        .more {
            position: relative;
            float: right;
            padding-right: 20px;
            color: #666666;

            &::before {
                content: '';
                position: absolute;
                top: 5px;
                right: 0;
                width: 16px;
                height: 20px;
                background: url(../images/jd-sprites.png) -181px -48px;
                background-size: 200px auto;
            }
        }
    }

    .seckill-list {
        width: 100%;
        text-align: center;

        ul {
            width: 100%;
            @include clearfix();
        }

        li {
            float: left;
            width: 33.33333%;
            margin-top: 10px;
        }

        a {
            display: block;
            width: 100%;
        }

        img {
            width: 100%;
        }

        p {
            font-weight: normal;
            font-size: 16px;
            color: #c91523;
            margin-bottom: 5px;
        }

        del {
            font-weight: normal;
            font-size: 12px;
            color: #666;
        }
    }
}


/* 4.活动 */
.active {
    // 继承main
    // width: 100%;
    background-image: url(../uploads/banner_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;

    ul {
        // width: 100%;
        margin: 60px 10px 10px 10px;
        @include clearfix();
    }

    li {
        float: left;
        width: 50%;

        a {
            display: block;
        }

        img {
            width: 100%;
        }
    }
}


/* 5.产品 */

.product {

    // 继承main
    // width: 100%;

    // ul {
    // width: 100%;
    // @include clearfix();
    // }

    li {
        // float: left;
        @include clearfix();

        &:nth-child(1) {
            a {
                float: left;
                display: block;
                width: 33.333333%;
            }
        }

        &:nth-child(2) {
            a {
                float: left;
                display: block;
                width: 50%;
            }
        }
    }

    img {
        width: 100%;
    }
}

/* 广告 */
.adv {
    margin: 10px;

    a {
        display: block;

        img {
            width: 100%;
        }
    }
}

// h3标题修改
@mixin titleH3 {
    height: 30px;
    font-size: 16px;
    color: #f25353;
    line-height: 30px;
    font-weight: normal;
    padding-left: 10px;
}

.market {
    // width: 100%;
    background-color: #fff;


    .market-title {
        @include titleH3();
    }

    ul {
        // width: 100%;
        @include clearfix();
    }

    li {
        float: left;
        width: 50%;

        &:nth-child(1) {
            width: 49.99999%;
        }
    }

    a {
        display: block;
    }

    img {
        width: 100%;
    }
}


.theme {

    //ul
    h3 {
        @include titleH3();
    }

    li {
        &:nth-of-type(1) {
            @include clearfix();

            a {
                float: left;
                width: 50%;

                &:nth-last-child(-n+2) {
                    width: 25%;
                }
            }

            img {
                width: 100%;
            }
        }

        &:nth-of-type(2) {
            @include clearfix();

            a {
                float: left;
                width: 25%;
            }

            img {
                width: 100%;
            }
        }
    }
}

.brand {
    background-color: #fff;

    h3 {
        @include titleH3();
    }

    ul {

        @include clearfix();
    }

    li {
        float: left;
        width: 30%;

        &:nth-child(1) {
            width: 40%;
        }
    }

    a {
        display: block;
    }

    img {
        width: 100%;
    }
}