@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573649952145'); /* IE9 */
  src: url('iconfont.eot?t=1573649952145#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABlAAAAJUAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApcbQE2AiQDCAsGAAQgBYRtBzAbkwXIHpIkgc4EFMNDJQBnhHj4b+1338zsIq6JQ/es0iyRCglioxMaoXgJ/3/n8oDlWGZEPZCnRqQQ25+W05fmxiSBHau9CT+9CbmpWQaYyAEGzSO53YBr6ifQQPKA5tZJUcmRgAObDrAL12Sb0Iw3jF3wAs8TaDWpgH2/oq7R5lPY0wLxLIt9Nl/Brygs1SzUDWuLeFNpTi/pAq/R9+PfRvhIqsyuOHoqF2xFX9tOhnOqMeUuIAQIaHOFjHU2hThrjB9wCsZxao27zLIdqzT42v7/D2ziqGbB/jq7uB2MQ8kzST3ZoxYnUJL+ITbTkx5AqnvUpp2URh5v7m2dJMLGVIKwfry5m9yRyyZuDvbx5acfz3HVGX+R9ff0j4zP97SNyF9G9XacrQj/LI84zgWCy4+V1R726msr4PMpFJmKYU6ad+UIfol0YFsx5LY1FU3a6EyGJk1NaNWKBuzudT3VMHD+dGg2cBfOJhMZsmbzZGHXUWmziVqzLbRaU7m5TR/KKUoLVs0DhG5nSDq9I+t2SRb2CpVBt6h1hxOtLsI92yyGHDiFPgYC6h9GMk8M7NpZIC6tBzGm9dG8POI2A7XkEApzoXKqEgygSyywBsQIYxhhSnRUAS4DTSPIpEQBnnESY2Y0GMRNb+J4otsC9lCgDwMESL9hiIxHGHDQmwlUPl8PiGI0fWhHVV20GaAs8uBIGCc0gKzUGIOqHuUaywBRBMNgCEYROqQCjAIaDYGYzaMUgMdwpAlRU1TQ6YaHarjtdfoPFLM6bGMKZ1hW35MYtcBmAwAA') format('woff2'),
  url('iconfont.woff?t=1573649952145') format('woff'),
  url('iconfont.ttf?t=1573649952145') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573649952145#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-course:before {
  content: "\e698";
}

