body {
  /* background-color: #2b2b2b; */
  background-color: rgb(154, 167, 172);
}

/* 1.顶部导航 */
.topnav {
  width: 100%;
  height: 28px;
  background-color: #2b2b2b;
  border-bottom: 1px solid #222222;
  /* overflow: hidden; */
}

/* 辅助 */
/* .topnav .container {
  background-color: rgba(255,255,255,0.5);
} */

.topnav-left {
  float: left;
  height: 28px;
}

.topnav-left a {
  float: left;
  color: #ccc;
  line-height: 28px;
  margin: 0 10px;
}

.topnav-left a:hover {
  color: #ff9d00;
}

.topnav-right {
  float: right;
}

.topnav-right li {
  float: left;
}

.topnav-right a,
.topnav-right span {
  position: relative;
  line-height: 28px;
  color: #ccc;
  margin: 0 10px;

}

.topnav-right span:first-child {
  background-image: url(../img/search-area-xsj.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 10px;
}

.topnav-right a:hover {
  color: #ff9d00;
}

.topnav-right i {
  font-size: 22px;
}

.topnav-right .app {
  display: block;
}

.topnav-right .app span {
  float: right;
  margin: 0;
  line-height: 28px;
}

.topnav-right .app:hover span {
  color: #ff9d00;
}

.topnav-right .app i {
  color: #fdd000;
}

.topnav-right img {
  display: none;
  position: absolute;
  top: 12px;
  left: -64px;
}

.topnav-right a:hover img {
  display: block;
}

.topnav-right li:nth-last-child(-n+3) a:hover i {
  color: #fdd000;
}

.topnav-right li:last-child img {
  width: 150px;
  height: 150px;
}


/* 搜索栏开始 */
.search {
  height: 120px;
  background-color: #333333;
}

.search-logo {
  float: left;
  margin-left: 10px;
  margin-top: 35px;
}

/* 搜索框 */
.search-box {
  float: left;
  height: 40px;
  margin-left: 100px;
  margin-top: 40px;
}

/* 南京站 */
.search-box span a {
  float: left;
  color: #fdd000;
  font-size: 16px;
  padding: 0 14px;
  line-height: 41px;
  background-image: url(../img/search-area-xsj.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.search-box-area {
  float: left;
  width: 564px;
  height: 40px;
  border: 2px solid #fdd000;
  border-right: 0 none;
  margin-left: 20px;
}

.search-box-area input {
  float: left;
  width: 430px;
  height: 41px;
  border: none;
  background-color: transparent;
}

.search-box-area button {
  float: left;
  width: 134px;
  height: 41px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  background-color: #fdd000;
}

/* 服务热线 */
.serach-serve {
  float: left;
  margin-left: 25px;
  margin-top: 40px;
}

.serach-serve p:first-child {
  color: #b2b2b2;
  margin-bottom: 10px;
}

.serach-serve p:last-child {
  color: #fdd000;
  font-size: 20px;
  font-weight: 500;
}

.pk {
  position: absolute;
  top: 78px;
  right: 72px;
}

/* 搜索栏结束 */