* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1226px;
  margin: 0 auto;
}

.box:before, .box:after {
  content: " ";
  display: table;
}

.box:after {
  clear: both;
}

.box-left {
  float: left;
}

.box-left a {
  display: block;
}

.box-left a img {
  display: block;
  width: 234px;
  height: 615px;
}

.box-right {
  float: left;
  width: 992px;
  height: 615px;
  text-align: center;
  background-color: #cccccc;
}

.box-right:before, .box-right:after {
  content: " ";
  display: table;
}

.box-right:after {
  clear: both;
}

.box-right a {
  font-size: 12px;
}

.box-right li {
  position: relative;
  float: left;
  width: 234px;
  height: 300px;
  background-color: #fff;
  margin-left: 14px;
  margin-bottom: 14px;
}

.box-right img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  margin-top: 30px;
}

.box-right .p1 {
  color: #333333;
}

.box-right .p2 {
  color: #b0b0b7;
  padding-top: 10px;
  padding-bottom: 18px;
}

.box-right .p3 {
  color: #ff6700;
}

.box-right .p3 del {
  color: #b0b0b7;
}

.box-right .hot {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 64px;
  height: 20px;
  font-size: 12px;
  color: #fff;
  padding: 0 8px;
  background-color: #e53935;
}
