body {
    background-image: url(../images/body_bg.jpg);
    background-repeat: no-repeat;
}




.bbs-main {
    margin-top: 12px;
}

.online {
    margin-bottom: 12px;
}

.text-online {
    color: #868e96;
    margin-left: 8px;
}

.text-online:first-child {
    margin-left: 0;
}

.text-online-b {
    color: #000000;
    font-weight: bolder;
    margin-left: 8px;
}

.online .text-online:nth-child(3) .text-online-b {
    color: #c9303e;
}

.online-main {
    background-color: #fdfefe;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    box-shadow: 2px 3px 0 0 rgba(0, 0, 0, 0.4);
}

.new-main {
    float: left;
}

.new-reply {
    float: left;
}

.new-cream {
    float: left;
}


.new-main,
.new-reply,
.new-cream {
    margin-left: 20px;
    width: 31.533333%;
}

.new-main p,
.new-reply p,
.new-cream p {
    margin-top: 7px;
    margin-bottom: 5.6px;
    height: 13px;
    font-weight: bolder;
}

.new-cream p i {
    vertical-align: top;
}

/* 备用代码 */
/* .banner-content {
    padding: 3.5px 0 3.5px 5.180px;
} */

.banner-content {
    padding: 4px 0;
}

.banner-content:hover {
    background-color: #f5f5f5;
}


.time-vary {
    float: right;
}

.title-vary:hover {
    border-bottom: 1px solid #000;
}

.banner-content a {
    display: inline-block;
    /* width: 305px; */
}

.banner-content a>i {
    color: #999b9b;
    vertical-align: middle;
}

.time-vary {
    color: #9ea4ab;
}

.content-vary {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

.notice {
    margin-top: 21px;
    background-color: #fff;
    /* border: 1px solid #bcc6c9; */
}

.notice-left {
    float: left;
    height: 37px;
}



.notice-left-content-left {
    float: left;
    margin-left: 6px;
}

.notice-left-content {
    line-height: 37px;
    border: 1px solid #bcc6c9;
    width: 957px;
    height: 37px;
    box-sizing: border-box;
}

.notice-left-content-right {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
    margin-left: 12px;
}

.notice-right {
    float: right;
    font-size: 12px;
    width: 183px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    border: 1px solid #BCC6C9;
    background-color: #f9fcff;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    box-sizing: border-box;
}

.notice-left-content div:nth-child(3),
.notice-left-content div:nth-child(4) {
    margin-left: 50px;
}

.notice-left-content-right a:hover {
    border-bottom: 1px solid #000;
}

.notice-right img {
    width: 13px;
}



/* 学习园地通用模块 */


.card {
    margin-top: 14px;
    box-shadow: 2px 3px 0 0 rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.card-body img {
    width: 48px;
}



.card-headr h2 {
    color: #454d55;
    text-shadow: 1px 1px 1px #fff;
    font-size: 14px;
    padding: 0.6rem 1rem;
    border-bottom: 1px solid #BCC6C9;
    background-image: linear-gradient(0deg, #d1d5d6, #fcfdfd);
    border-radius: 5px;
}

.card-body {
    background-color: #fafafa;
    padding: 1.25rem;
}

.class-one,
.class-two {
    float: left;
    width: 506px;
    height: 60px;
    margin-bottom: 20px;
}

.class-one img,
.class-two img {
    float: left;
    /* height: 60px; */
}

.card-content b {
    float: left;
}

.card-content {
    height: 14px;
}

.card-content img {
    width: 40px;
    height: 14px;
}

.card-right-content {
    float: left;
    margin-left: 20px;
    width: 438px;
}

.card-content,
.card-suggest {
    padding: 10px 0;

}


.card-title a {
    font-size: 14px;
    font-weight: bolder;
}


.card-content b a {
    font-weight: bolder;
}

.card-theme,
.card-bm span,
.card-bm a,
.card-suggest {
    font-size: 12px;
    color: #868e96cc;
}


.card-title a:hover,
.card-content b a:hover {
    border-bottom: 1px solid #0f243a;
}

.card-bm span a:hover {
    border-bottom: 1px solid #868e96cc;
}



.real-time {
    height: 30px;
    line-height: 30px;
    border: 1px solid #bcc6c9;
    border-radius: 5px;
    box-shadow: 3px 5px 10px -4px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    margin-top: 15px;
}

.real-time-number {
    float: left;
    width: 80px;
    color: #fff;
    background-color: #0099ee;
    text-align: center;

    height: 30px;
}

.real-time-people {
    float: left;
    width: calc(100% - 80px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
}

.ad {
    margin-top: 30px;
    /* background-color: hotpink; */
}

.ad-images {
    width: calc(540px * 2);
    margin: 0 auto;
}

.ad a {
    position: relative;
    float: left;
    margin-left: 50%;
    width: 540px;
    height: 76px;
    margin: 0 auto;
}

.ad a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 540px;
    height: 76px;
    background-color: rgba(0, 0, 0, .3);
}


.ad a:hover::after {
    background: none;
    transition: all 0.4s;
}

.ad img {
    float: left;
    width: 540px;
    height: 76px;
}

/* 底部 */
footer {
    color: #868e96;
    background-color: #3b4348;
    margin-top: 14px;
    font-size: 12px;
}

footer a {
    font-size: 12px;
    color: #868e96;
}

footer a:hover {
    color: #868e96;
    border-bottom: 1px solid #868e96;
}

.footer-left {
    float: left;
    padding: 17px 0;
}

.footer-right {
    float: right;
    padding: 17px 0;
}

.footer-left-top,
.footer-right-top {
    padding-bottom: 8px;
}