/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* 版心样式 */
.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

/* body */
body {
  background-color: #f0f5f8;
}

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* 顶部共用 */
.top-nav-T {
  background-color: #fafafa;
  box-shadow: 3px 5px 10px -4px rgba(0, 0, 0, .3);
}

.top-nav {
  height: 64px;
  line-height: 64px;
  /* border: 1px solid red; */

}

.top-nav-left {
  float: left;
}

/* 看雪logo */
.top-nav-left a:first-child img {
  float: left;
  width: 64.28px;
  height: 25px;
  margin-top: 19.5px;
  margin-right: 14px;
}

/* 首页到发现 */
.top-nav-bar {
  float: left;
  position: relative;
  z-index: 1;
}


.top-nav-bar>li {
  float: left;
  /* padding: 0 14px; */
  height: 64px;
}

.top-nav-bar>li>a {

  padding: 6px 14px;
}

.top-nav-bar>li:hover>a {
  background-color: rgba(0, 0, 0, 0.1);
}


.top-nav-bar>li>a {
  font-size: 16px;
  font-weight: 700;
  color: #757575;
}

/* 发现的下拉菜单 */


.top-nav-bar ul {
  display: none;
  position: absolute;
  top: 55px;
  right: -8px;
  width: 100px;
  /* height: 470px; */
  text-align: center;
  border: 1px solid #f0f6fa;
}

.top-nav-find li {
  background-color: #ffffff;
}

.top-nav-find a {
  display: block;
  width: 100px;
  height: 64px;
}

/*  */
.top-nav-bar ul li:hover,
.top-nav-bar ul li:hover a {
  background-color: #f3f3f3;
  color: #0099ee;
}

.top-nav-bar>li:last-child:hover ul {
  display: block;
  /* background-color: red; */
}

/* 搜索框模块 */
.top-nav-search {
  float: left;
  height: 32px;
  margin-top: 16px;
  margin-left: 20px;
  border: 1px solid #cccccc;
}

/* 搜索框 */
.top-nav-search input:first-child {
  float: left;
  width: 121px;
  height: 32px;
  border: none;
  /* border: 1px solid #cccccc; */
}

/* 搜索按钮 */
.top-nav-search button {
  float: left;
  width: 30px;
  height: 32px;
  background-color: #dddddd;
  border: none;
}

.top-nav-right {
  float: right;
}

/* 登陆模块 */
.top-nav-right span:first-child {
  margin-right: 7px;
}

.top-nav-right span a {
  padding: 10px 16px;
}

.top-nav-right span:first-child a {
  border: 1px solid #0099ee;
  color: #0099ee;
}

.top-nav-right span:last-child a {
  color: #ffffff;
  background-color: #0099ee;
}

/* 顶部结束 */



.logo-footer {
  background-color: #3b4348;
  color: #868e96;
  margin-top: 100px;
}

.logo-footer-left {
  float: left;
  padding: 20px 0;
  padding-top: 28px;
}

.logo-footer-right {
  float: right;
  padding: 20px 0;
}

.logo-footer-right img {
  vertical-align: bottom;
  padding: 0 5px;
}