.top-nav {
    height: 44px;
    background-color: #0054a7;
    line-height: 44px;
}

.top-nav a {
    color: #ffffff;
    font-size: 12px;
}

.top-nav-left {
    float: left;
}



.top-nav-left a {
    float: left;
    padding: 0 22px;
}

.top-nav-left a:first-child {
    padding: 0 30px 0 0;
    border-right: 1px solid #004080;
}

.top-nav-left a:nth-child(2) {
    border-left: 1px solid #266db4;
    border-right: 1px solid #266db4;
}

.top-nav-right {
    float: right;
    border-left: 1px solid #004080;
    border-right: 1px solid #266db4;
}

.top-nav-right a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #266db4;
    border-right: 1px solid #004080;
}

.top-nav-right a img {
    vertical-align: middle;
}


.top-nav a:hover {
    background-color: #00366d;
}

/*  */
/*  */
/* 搜索开始 */
.search {
    margin-top: 35px;
}

.search-top {
    float: left;
}

.search-top-content {
    float: left;
    margin-left: 155px;
}

/* 输入框大框 */
.search-input {
    float: left;
    width: 484px;
    height: 38px;
    border: 3px solid #0054a7;
    box-sizing: border-box;
}

/* 搜索框 */
.search-input b {
    float: left;
    width: 81px;
    height: 32px;
    font-size: 12px;
    color: #666666;
    background-color: #f6f6f6;
    border-right: 1px solid #ededed;
    box-sizing: border-box;
    text-align: center;
    line-height: 32px;
}

.search-input b i {
    vertical-align: top;
}

.search-input input {
    float: left;
    border: none;
    width: 306px;
    height: 32px;
    padding: 0 8px;
    box-sizing: border-box;
}

.search-input button {
    float: left;
    border: none;
    width: 91px;
    height: 32px;
    font-size: 14px;
    color: #ffffff;
    background-color: #0054a7;
}

/* 高级搜索 */
.ad-search {
    float: left;
    width: 30px;
    height: 38px;
    font-size: 14px;
    padding-top: 3px;
    margin-left: 9px;
    color: #666666;
    box-sizing: border-box;
}

.search-input-content {
    float: left;
    margin-top: 7px;

}

.search-input-content a {
    float: left;
    font-size: 12px;
    color: #666666;
    padding: 0 7px;
}

.search-right {
    float: right;
}

/* 账户充值 */
.search-right-money {
    float: left;
}

.search-right-money b {
    color: #ff8c14;
}

.search-right-money p:nth-child(2) {
    font-weight: 700;
}

.search-right-money p:nth-child(2) i {
    margin-left: 29px;
}

/* 购物车 */
.search-right-cart {
    float: left;
    margin-left: 8px;
}

.search-right-cart>i {
    font-size: 30px;
}

.search-right-cart span {
    font-weight: 700;
}

.search-right-cart span i {
    margin-left: 10px;
}